<form action="/api/v1/school/request/student" method="post">
    <label>fullName :- </label>
    <input type="text" name="fullname" /><br /><br />
    <label>email :- </label>
    <input type="text" name="email" /><br /><br />
    <label>password :- </label>
    <input type="text" name="password" /><br /><br />
    <label >studentcontect-No :- </label><br>
    <p>**if the student conect number is available write here otherwise blanck field </p>
    <input type="text" name="studecontect"><br><br>
    <label >parentcontect-No :- </label>
    <input type="text" name="percontect"><br><br>
    <label >Std:</label>
    <select name="std">
          <option value="6">6Th</option>
          <option value="7">7Th</option>
          <option value="8">8Th</option>
          <option value="9">9Th</option>
          <option value="10">10Th</option>
    </select><br><br>
    <label>previous std parcentage :- </label>
    <input type="text" name="previousStdPer" /><br /><br />

    <input type="submit" />
  </form>
  
<a href="/api/v1/school/auth/google">click</a>
